.u-section-1 .u-sheet-1 {
  min-height: 906px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 167px;
  margin-bottom: 60px;
}

.u-section-1 .u-image-1 {
  min-height: 453px;
  background-image: url("images/315310114_5850157845005337_5425826924203689386_n.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  min-height: 227px;
  background-image: url("images/328936560_1813150752390256_1344770089152828675_n.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  min-height: 227px;
  background-image: url("images/14.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  min-height: 453px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/315368208_5850157848338670_5501907926216067285_n.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 56px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 249px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 0 4px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-1 .u-image-1 {
    min-height: 374px;
  }

  .u-section-1 .u-image-2 {
    min-height: 187px;
  }

  .u-section-1 .u-image-3 {
    min-height: 187px;
  }

  .u-section-1 .u-image-4 {
    min-height: 374px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1944px;
  }

  .u-section-1 .u-image-1 {
    min-height: 573px;
  }

  .u-section-1 .u-image-2 {
    min-height: 286px;
  }

  .u-section-1 .u-image-3 {
    min-height: 286px;
  }

  .u-section-1 .u-image-4 {
    min-height: 573px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1516px;
  }

  .u-section-1 .u-image-1 {
    min-height: 430px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 215px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    min-height: 215px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    min-height: 430px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 842px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 26px;
  }

  .u-section-1 .u-image-1 {
    min-height: 200px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-1 .u-image-2 {
    min-height: 99px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-1 .u-image-3 {
    min-height: 99px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-1 .u-image-4 {
    min-height: 420px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-1 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-text-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 702px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 32px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 60px;
}

.u-section-2 .u-image-1 {
  min-height: 241px;
  background-image: url("images/14.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 237px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 17px 30px 20px;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-2 .u-text-3 {
  font-size: 0.875rem;
  margin: 7px 0 0;
}

.u-section-2 .u-image-2 {
  min-height: 241px;
  background-image: url("images/315368208_5850157848338670_5501907926216067285_n.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 241px;
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 16px 30px 23px;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-2 .u-text-5 {
  font-size: 0.875rem;
  margin: 3px 0 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 263px;
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 20px 30px 23px;
}

.u-section-2 .u-text-6 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-2 .u-text-7 {
  font-size: 0.875rem;
  margin: 7px 0 0;
}

.u-section-2 .u-image-3 {
  min-height: 263px;
  background-image: url("images/15.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 263px;
  background-image: none;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 17px 30px 26px;
}

.u-section-2 .u-text-8 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-2 .u-text-9 {
  font-size: 0.875rem;
  margin: 7px 0 0;
}

.u-section-2 .u-image-4 {
  min-height: 258px;
  background-image: url("images/315310114_5850157845005337_5425826924203689386_n.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-2 .u-image-1 {
    min-height: 199px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 195px;
  }

  .u-section-2 .u-image-2 {
    min-height: 199px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 199px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 217px;
  }

  .u-section-2 .u-image-3 {
    min-height: 217px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 217px;
  }

  .u-section-2 .u-image-4 {
    min-height: 213px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1465px;
  }

  .u-section-2 .u-image-1 {
    min-height: 305px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    min-height: 305px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-image-3 {
    min-height: 332px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-2 .u-image-4 {
    min-height: 326px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2300px;
  }

  .u-section-2 .u-image-1 {
    min-height: 458px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 458px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 498px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    min-height: 489px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2113px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 288px;
  }

  .u-section-2 .u-text-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-2 .u-text-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-2 .u-image-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    min-height: 288px;
  }

  .u-section-2 .u-text-4 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-text-5 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-image-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    min-height: 314px;
  }

  .u-section-2 .u-text-8 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-image-4 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    min-height: 308px;
  }
} .u-section-3 {
  background-image: url("images/9d63430d-8f5d-4697-9139-18d3979ac77d.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1002px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  width: 284px;
  margin: 43px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 34px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(20% - 10.4px) calc(20% - 10.4px) calc(20% - 10.4px) calc(20% - 10.4px) calc(20% - 10.4px);
  min-height: 765px;
  grid-gap: 13px 13px;
}

.u-section-3 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/362a0cfa7033f0beb08ddcf07dd93af0132d2344.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-group-1 {
  min-height: 95px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  margin: 0;
}

.u-section-3 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/d86801ec5671d68a400e54010e0328afd1a0f286.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-group-2 {
  min-height: 95px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  margin: 0;
}

.u-section-3 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/cb0a691c9cc028162ff8f19eaea46b10884489fa.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-5 {
  padding: 0;
}

.u-section-3 .u-group-3 {
  min-height: 95px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-3 .u-container-layout-6 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-3 .u-text-4 {
  font-size: 1rem;
  margin: 0;
}

.u-section-3 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/e707ce982d3910acd23ea8cb5c80013660cadd38.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-7 {
  padding: 0;
}

.u-section-3 .u-group-4 {
  min-height: 95px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-3 .u-container-layout-8 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-3 .u-text-5 {
  font-size: 1rem;
  margin: 0;
}

.u-section-3 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/3ccbd8213fd1855890c6074d0b65c500ca6430ac.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-9 {
  padding: 0;
}

.u-section-3 .u-group-5 {
  min-height: 95px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-3 .u-container-layout-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-3 .u-text-6 {
  font-size: 1rem;
  margin: 0;
}

.u-section-3 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/317535995_5899141740106947_1399794007795526878_n.jpg");
}

.u-section-3 .u-container-layout-11 {
  padding: 0;
}

.u-section-3 .u-group-6 {
  min-height: 95px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-3 .u-container-layout-12 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-3 .u-text-7 {
  font-size: 1rem;
  margin: 0;
}

.u-section-3 .u-list-item-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-image-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/c4562927058ab7ae82a211497438e72af8d7d887.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-13 {
  padding: 0;
}

.u-section-3 .u-group-7 {
  min-height: 95px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-3 .u-container-layout-14 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-3 .u-text-8 {
  font-size: 1rem;
  margin: 0;
}

.u-section-3 .u-list-item-8 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-image-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/20.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-15 {
  padding: 0;
}

.u-section-3 .u-group-8 {
  min-height: 95px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-3 .u-container-layout-16 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-3 .u-text-9 {
  font-size: 1rem;
  margin: 0;
}

.u-section-3 .u-list-item-9 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-image-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/18.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-17 {
  padding: 0;
}

.u-section-3 .u-group-9 {
  min-height: 95px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-3 .u-container-layout-18 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-3 .u-text-10 {
  font-size: 1rem;
  margin: 0;
}

.u-section-3 .u-list-item-10 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-image-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/19.jpeg");
  background-position: 81.88% 50%;
}

.u-section-3 .u-container-layout-19 {
  padding: 0;
}

.u-section-3 .u-group-10 {
  min-height: 95px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-3 .u-container-layout-20 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-3 .u-text-11 {
  font-size: 1rem;
  margin: 0;
}

.u-section-3 .u-list-item-11 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-image-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/42.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-21 {
  padding: 0;
}

.u-section-3 .u-group-11 {
  min-height: 95px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-3 .u-container-layout-22 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-3 .u-text-12 {
  font-size: 1rem;
  margin: 0;
}

.u-section-3 .u-list-item-12 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-image-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/48.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-23 {
  padding: 0;
}

.u-section-3 .u-group-12 {
  min-height: 95px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-3 .u-container-layout-24 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-3 .u-text-13 {
  font-size: 1rem;
  margin: 0;
}

.u-section-3 .u-list-item-13 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-image-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/ef465a404c1da0c5d4d385974d1087886b61ef4f.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-25 {
  padding: 0;
}

.u-section-3 .u-group-13 {
  min-height: 95px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-3 .u-container-layout-26 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-3 .u-text-14 {
  font-size: 1rem;
  margin: 0;
}

.u-section-3 .u-list-item-14 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-image-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/91.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-27 {
  padding: 0;
}

.u-section-3 .u-group-14 {
  min-height: 95px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-3 .u-container-layout-28 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-3 .u-text-15 {
  font-size: 1rem;
  margin: 0;
}

.u-section-3 .u-list-item-15 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-image-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/328936560_1813150752390256_1344770089152828675_n.jpg");
}

.u-section-3 .u-container-layout-29 {
  padding: 0;
}

.u-section-3 .u-group-15 {
  min-height: 95px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-3 .u-container-layout-30 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-3 .u-text-16 {
  font-size: 1rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 826px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 629px;
  }

  .u-section-3 .u-list-item-1 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-list-item-2 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-list-item-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-group-3 {
    height: auto;
  }

  .u-section-3 .u-container-layout-6 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-list-item-4 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-group-4 {
    height: auto;
  }

  .u-section-3 .u-container-layout-8 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-list-item-5 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-group-5 {
    height: auto;
  }

  .u-section-3 .u-container-layout-10 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-list-item-6 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-group-6 {
    height: auto;
  }

  .u-section-3 .u-container-layout-12 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-list-item-7 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-group-7 {
    height: auto;
  }

  .u-section-3 .u-container-layout-14 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-list-item-8 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-group-8 {
    height: auto;
  }

  .u-section-3 .u-container-layout-16 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-list-item-9 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-group-9 {
    height: auto;
  }

  .u-section-3 .u-container-layout-18 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-list-item-10 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-group-10 {
    height: auto;
  }

  .u-section-3 .u-container-layout-20 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-list-item-11 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-group-11 {
    height: auto;
  }

  .u-section-3 .u-container-layout-22 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-list-item-12 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-group-12 {
    height: auto;
  }

  .u-section-3 .u-container-layout-24 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-list-item-13 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-group-13 {
    height: auto;
  }

  .u-section-3 .u-container-layout-26 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-list-item-14 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-group-14 {
    height: auto;
  }

  .u-section-3 .u-container-layout-28 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-list-item-15 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-group-15 {
    height: auto;
  }

  .u-section-3 .u-container-layout-30 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1374px;
    grid-template-columns: calc(33.3333% - 8.66667px) calc(33.3333% - 8.66667px) calc(33.3333% - 8.66667px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 475px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 2515px;
    grid-template-columns: calc(50% - 6.5px) calc(50% - 6.5px);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-group-1 {
    margin-top: 133px;
    min-height: 60px;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-group-2 {
    margin-top: 133px;
    min-height: 60px;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.875rem;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-group-3 {
    margin-top: 133px;
    min-height: 60px;
  }

  .u-section-3 .u-text-4 {
    font-size: 0.875rem;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-group-4 {
    margin-top: 133px;
    min-height: 60px;
  }

  .u-section-3 .u-text-5 {
    font-size: 0.875rem;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-group-5 {
    margin-top: 133px;
    min-height: 60px;
  }

  .u-section-3 .u-text-6 {
    font-size: 0.875rem;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-group-6 {
    margin-top: 133px;
    min-height: 60px;
  }

  .u-section-3 .u-text-7 {
    font-size: 0.875rem;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-group-7 {
    margin-top: 133px;
    min-height: 60px;
  }

  .u-section-3 .u-text-8 {
    font-size: 0.875rem;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-group-8 {
    margin-top: 133px;
    min-height: 60px;
  }

  .u-section-3 .u-text-9 {
    font-size: 0.875rem;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-group-9 {
    margin-top: 133px;
    min-height: 60px;
  }

  .u-section-3 .u-text-10 {
    font-size: 0.875rem;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-group-10 {
    margin-top: 133px;
    min-height: 60px;
  }

  .u-section-3 .u-text-11 {
    font-size: 0.875rem;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-group-11 {
    margin-top: 133px;
    min-height: 60px;
  }

  .u-section-3 .u-text-12 {
    font-size: 0.875rem;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-group-12 {
    margin-top: 133px;
    min-height: 60px;
  }

  .u-section-3 .u-text-13 {
    font-size: 0.875rem;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-group-13 {
    margin-top: 133px;
    min-height: 60px;
  }

  .u-section-3 .u-text-14 {
    font-size: 0.875rem;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-group-14 {
    margin-top: 133px;
    min-height: 60px;
  }

  .u-section-3 .u-text-15 {
    font-size: 0.875rem;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-group-15 {
    margin-top: 133px;
    min-height: 60px;
  }

  .u-section-3 .u-text-16 {
    font-size: 0.875rem;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 714px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 59px;
  margin-bottom: 60px;
}

.u-section-4 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/320128003_2060136817505313_5578303115496370216_n.jpg");
  background-position: 50% 71.23%;
  min-height: 386px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 216px auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 0 auto 0 3px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 104px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.875rem;
  margin: 6px auto 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 138px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  font-size: 1.875rem;
  text-transform: uppercase;
  margin: 7px 0 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 102px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-text-5 {
  font-size: 1.75rem;
  text-transform: uppercase;
  margin: 3px auto 0;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 148px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-8 {
  padding: 30px 30px 41px;
}

.u-section-4 .u-text-6 {
  font-size: 1.875rem;
  text-transform: uppercase;
  margin: 27px auto 0;
}

.u-section-4 .u-container-layout-9 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 148px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-10 {
  padding: 30px 30px 47px;
}

.u-section-4 .u-text-7 {
  font-size: 1.875rem;
  text-transform: uppercase;
  margin: 27px 19px 0;
}

.u-section-4 .u-container-layout-11 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-7 {
  min-height: 159px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-12 {
  padding: 39px 71px;
}

.u-section-4 .u-text-8 {
  font-size: 1.875rem;
  text-transform: uppercase;
  margin: 0 0 -8px;
}

.u-section-4 .u-container-layout-13 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-4 .u-image-1 {
    min-height: 307px;
  }

  .u-section-4 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 86px;
  }

  .u-section-4 .u-layout-cell-3 {
    background-position: 50% 50%;
    min-height: 124px;
  }

  .u-section-4 .u-text-4 {
    font-size: 2.375rem;
  }

  .u-section-4 .u-layout-cell-4 {
    background-position: 50% 50%;
    min-height: 84px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 122px;
  }

  .u-section-4 .u-text-6 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 122px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 3px;
    margin-right: 3px;
    width: 237px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 131px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1184px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 771px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-text-7 {
    width: 173px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-12 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2144px;
  }

  .u-section-4 .u-image-1 {
    min-height: 578px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1020px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 45px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-image-1 {
    min-height: 294px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 155px;
    margin-left: 8px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-left: 8px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 92px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 95px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 104px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 107px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.25rem;
    width: 198px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 127px;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.25rem;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}